.navbar-container{
    background-color:#000000;
    padding: 5px;
    text-align: right;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.sam-logo{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width:2.3%;
    float: left;
    left: 30px;
    top: 8px;
}
.links{
    float: right;
    margin-top: 12px;
    margin-right: 50px;

}

.links>.nav-link{
    padding: 7px;
    margin: 9px;
    color: white;    
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.nav-link:hover{
    color: rgb(25,118,210);
    border-bottom: 3px solid rgb(25,118,210);
}
/* .nav-link:active{
    color: rgb(25,118,210);
    border-bottom: 3px solid rgb(25,118,210);

} */
.nav-link.active{
    color: rgb(25,118,210);
    border-bottom: 3px solid rgb(25,118,210);
}



/* Drawer */
.drawer-container{
    position: relative;
}

.drawer{
    width:100%;
    height: 100%;
    background-color: black;
    text-align: left ;
}

.drawer-header{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid white;
}


.drawer-link{
    width: 100%;
    color:white;
    text-align: left;
    padding: 10px 50px;
    padding-right:70%;
    font-size: 22px;
    cursor: pointer;
    font-weight: 700;
}

.drawer-div{
    margin: 5px 0px;
}
.drawer-link:hover{
    background-color: rgb(25,118,210);
    color: black;
}

.drawer-link.active{
    color: black;
    background-color:rgb(25,118,210);
    color: black;
}


@media screen and (max-width:600px){

    .sam-logo{
        position: absolute;
        background-color: white;
        border-radius: 50%;
        width:9%;
        float: left;
        left: 20px;
        top: 6px;
    }


    .navbar-container{
        background-color:#000000;
        padding: 5px;
        text-align: right;
        height: 40px;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    .nav-link{
        display: none;
    }

  

}