.navbar-container{
    background-color:#000000;
    padding: 5px;
    text-align: right;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.links{
    float: right;
    margin-top: 4px;
    margin-right: 50px;
}

.links>.nav-link{
    padding: 7px;
    margin: 9px;
    color: white;    
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.nav-link:hover{
    color: rgb(25,118,210);
    border-bottom: 3px solid rgb(25,118,210);
}
/* .nav-link:active{
    color: rgb(25,118,210);
    border-bottom: 3px solid rgb(25,118,210);

} */
.nav-link.active{
    color: rgb(25,118,210);
    border-bottom: 3px solid rgb(25,118,210);
}

