
.App {
  text-align: center;
  font-family:"League Spartan", sans-serif;
  overflow: hidden;
}

/* HOME COMPONENTS */

#home {
  background-color: rgb(18, 17, 19);
  padding: 18vh 0px;
}
.profile-photo {
  vertical-align: middle;
  display: inline-block;
  width: 26vw;
  border-radius: 100%;
  margin: 0vh 3vw;
  border: 3px solid rgb(255, 173, 0);
}

.intro-text {
  vertical-align: top;
  display: inline-block;
  margin-top: 12vh;
  margin-left: 2vw;
  text-align: left;
}
.intro-text > h5 {
  margin: 0px;
  font-size: 1.5vw;
  color: rgb(233, 233, 233);
}

.intro-text > h1 {
  margin: 0px;
  font-size: 3.2vw;
  font-weight: 900;
  letter-spacing: 0.05vw;
  margin-top: 2vh;
}

.intro-text > h4 {
  margin: 0px;
  font-size: 1.5vw;
  color: rgb(241, 238, 238);
  letter-spacing: 0.05vw;
  margin-top: 1vh;
}

.resume-button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 0px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  background-color: rgb(255, 173, 0);
}
.resume-button:hover {
  background-color: rgb(25, 118, 210);
}

.profile-icon {
  cursor: pointer;
  margin: 0px 7px;
}

.profile-icon:hover {
  color: rgb(255, 173, 0);
}



@media screen and (max-width:600px) {
  #home {
    background-color: rgb(18, 17, 19);
    padding: 13vh 0px;
  }

  .profile-photo {
    display: block;
    width: 60vw;
    border-radius: 100%;
    margin: auto;
    border: 3px solid rgb(255, 173, 0);
  }
  .intro-text {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 3vh;
    margin-left: 2vw;
    
  }

  .intro-text > h5 {
    margin: 0px;
    font-size: 3vw;
    color: rgb(233, 233, 233);
  }
  
  .intro-text > h1 {
    margin: 0px;
    font-size: 8vw;
    font-weight: 900;
    letter-spacing: 0.05vw;
    margin-top: 2vh;
  }
  
  .intro-text > h4 {
    margin: 0px;
    font-size: 4vw;
    color: rgb(241, 238, 238);
    letter-spacing: 0.05vw;
    margin-top: 1vh;
  }

}

/* About Container */

#about {
  background-color: rgb(18, 17, 19);
  padding:12vw 0vh;

  
}

#about > h1 {
  font-family: "League Spartan", sans-serif;
  margin: auto;
  font-size: 2.5vw;
  width: 6.8vw;
  justify-content: center;
  color: rgb(25, 118, 210);
  letter-spacing: 0.1vw;
  border-bottom: 0.5vh solid rgb(25, 118, 210);
  font-weight: 900;
  margin-bottom: 8vh;
}

#about > h4 {
  margin: 0px;
  font-size: 2vw;
  color: white;
  letter-spacing: 0.1vw;
  margin-bottom: 4vh;
}

#about > p {
  margin: auto;
  font-size: 1.3vw;
  width: 45vw;
  line-height: 3.2vh;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: white;
}

#about > h5 {
  margin: 0px;
  margin-top: 6vh;
  font-size: 1.4vw;
  color: white;
  font-weight: 500;
  letter-spacing: 0.05vw;
}
#about > h5 > a {
  text-decoration: none;
  cursor: pointer;
}
#about > h5 > a:hover {
  color: rgb(255, 173, 0);
}
@media screen and (max-width:600px){
  #about {
    background-color: rgb(18, 17, 19);
    padding:12vh 0vh;
  }
  
  #about > h1 {
    font-family: "League Spartan", sans-serif;
    margin: auto;
    font-size: 9vw;
    width: 22vw;
    justify-content: center;
    color: rgb(25, 118, 210);
    letter-spacing: 0.1vw;
    border-bottom: 0.5vh solid rgb(25, 118, 210);
    font-weight: 900;
    margin-bottom: 8vh;
  }
  
  #about > h4 {
    margin: 0px;
    font-size: 7vw;
    color: white;
    letter-spacing: 0.1vw;
    margin-bottom: 3vh;
  }
  
  #about > p {
    margin: auto;
    font-size: 5vw;
    width: 90vw;
    line-height: 2.5vh;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: white;
    
  }
  
  #about > h5 {
    margin: 0px;
    margin-top: 6vh;
    font-size: 5vw;
    color: white;
    font-weight: 500;
    letter-spacing: 0.05vw;
  }


}
/* SKILLS CONTAINER */

#skills {
  background-color: rgb(18, 17, 19);
  padding-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#skills > h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  width: 7%;
  margin: auto;
  color: rgb(25, 118, 210);
  letter-spacing: 2px;
  border-bottom: 4px solid rgb(25, 118, 210);
  font-weight: 900;
}

/* .skills {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  gap: 60px;
  margin-top: 80px;
  align-items: center;
} */
/* 
.skills > div {
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #afafaf, -2px -2px 5px #bcbcbc;
  align-items: center;
  align-content: center;
}

.skills > div:hover {
  margin-top: -3px;
} */

/* .skills-grid{
  margin: auto;
  display: flex;
  gap: 4vw;
  justify-content: center;
  margin-top: 9vh;
} */
.skills-card>img{
  width: 100%;
  height: 7rem;
}
.slider{
  
  padding:50px;
}

/* .skills-card{
  background-color:white;
  margin:5px;
} */


/* .skills-card >h3 {
  margin: 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  padding: 5px;
  margin-top:1vh ;
} */



@media screen and (max-width:600px){

  #skills > h1 {
    font-family: "League Spartan", sans-serif;
    margin: auto;
    font-size: 9vw;
    width: 19vw;
    justify-content: center;
    color: rgb(25, 118, 210);
    letter-spacing: 0.1vw;
    border-bottom: 0.5vh solid rgb(25, 118, 210);
    font-weight: 900;
    margin-bottom: 8vh;
  }




}
/* Project-container */

#projects {
  background-color: rgb(18, 17, 19);
  padding-top: 100px;
  padding-bottom: 200px;
  overflow: hidden;
}

#projects > h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  width: 10%;
  margin: auto;
  color: rgb(25, 118, 210);
  letter-spacing: 2px;
  border-bottom: 4px solid rgb(25, 118, 210);
  font-weight: 900;
  text-align: center;
}
.project{
  width:70%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin-top:80px;
}


.project-l2{
  padding: 10vh;
  width:30%;
  margin: auto;
}
.project-card>h3{
  text-align: center;
  margin: 0px;
  margin-bottom: 0.6vh;
  font-size: 1.6vw;
  font-weight: 900;
  max-height: 450px;
}

.project-card>img{
  width:100%;
  height: 239px;
  border: 1px solid rgb(25, 118, 210);
  border-radius: 5px;
}


.about-project{
  text-align: left;
  font-size: 1.2vw;
  padding: 0.6vw;
  font-weight: 500;


}
.tech-stack{
 display: flex;
 font-size: 1.2vw;
 gap: 0.5vw;
 justify-content: left;
 padding: 0.6vw;
 margin-bottom: 0.5vh;

}
.button-div{
  padding: 0px 20px;
}
.vl{
  width:0.1vw;
  height: 2vh;
  background-color: rgb(77, 77, 77);
}

@media screen and (max-width:600px){

  .image-slider{
    width:200;
  }
  
#projects {
  background-color: rgb(18, 17, 19);
  padding-top: 70px;
  padding-bottom: 100px;
}

  #projects > h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 9vw;
    width: 32vw;
    margin: auto;
    color: rgb(25, 118, 210);
    letter-spacing: 2px;
    border-bottom: 4px solid rgb(25, 118, 210);
    font-weight: 900;
    text-align: center;
  }
  @media (max-width: 600px){
    .image-slider{
        width:300;
     }
    }
  .project{
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .project-l2{
    width:100%;
    margin: auto;
    margin-top: 0px;
    padding: 0px;
  }
  
  .project-card>h3{
    text-align: center;
    margin: 0px;
    margin-bottom: 0.6vh;
    font-size: 5vw;
    font-weight: 900;
    padding: 5px;
  }
  
  .project-card>img{
    width:100%;
    height: 50%;
    border: 1px solid rgb(25, 118, 210);
    border-radius: 5px;
  }
  .about-project{
    text-align: left;
    font-size: 4vw;
    padding: 3vw;
    font-weight: 500;
  }
  .tech-stack{
    display: flex;
    font-size: 4vw;
    gap: 1.5vw;
    justify-content: left;
    padding: 3vw;
    margin-bottom: 1vh;
   
   }
   .vl{
    width:0.1vw;
    height: 1.5vh;
    background-color: rgb(77, 77, 77);
  }

  .button-div{
    padding: 0px 20px;
  }
}
/* Contact Container */

#contact {
  background-color: rgb(18, 17, 19);
  padding-top: 100px;
  padding-bottom: 100px;
}

#contact > h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  width: 15%;
  margin: auto;
  color: rgb(25, 118, 210);
  letter-spacing: 2px;
  border-bottom: 4px solid rgb(25, 118, 210);
  font-weight: 900;
  margin-bottom: 30px;
}

.contact-info{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.contact-info>.information{
  display: inline-block;
  width:40%;
  vertical-align: middle;
}
.contact-info>.send-message{
  display: inline-block;
  width:50%;
  vertical-align: middle;
}

.icons-container,
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.icons-container > .icon {
  color: rgb(255, 173, 0);
}

.icons-container > .icon:hover {
  color: aqua;
}
.icons-container > .icon-text {
  font-size: 20px;
  color: aliceblue;
}

.icon-container > a > .icon {
  font-size: 30px;
  color: rgb(255, 173, 0);
}
.icon-container > a > .icon:hover {
  color: aqua;
}

.icon-container > a {
  text-decoration: none;
  margin-top: 20px;
}
/* .vr{
  width:2px;
  background-color: white;
  height:350px;
  display: inline-block;
  vertical-align: top;
} */

.text-field{
  width: 80%;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  font-weight: 500;
  margin: 10px;
}
.text-field:focus{
  border: none;
}

.send-button{
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 0px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  background-color: rgb(255, 173, 0);
}

@media screen and (max-width:600px){
  #contact {
    background-color: rgb(18, 17, 19);
    padding-top: 70px;
    padding-bottom: 30px;
  }
  
  #contact > h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 9vw;
    width:54%;
    margin: auto;
    color: rgb(25, 118, 210);
    letter-spacing: 2px;
    border-bottom: 4px solid rgb(25, 118, 210);
    font-weight: 900;
    margin-bottom: 30px;
  }

  .contact-info{
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
  .contact-info>.information{
    display: block;
    width:100%;
    margin-top: 20px;
  }
  .contact-info>.send-message{
    display: block;
    width:100%;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  
}